body {
  cursor: crosshair;
}

#colors {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.color {
  width: 80px;
}

.color:hover,
#save:hover,
#trash:hover {
  cursor: pointer;
}

.page-height {
  height: 100vh;
  background-image: url('images/wall-bg.png');
  position: relative;
}

#trash {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 110px;
}

#save {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 110px;
}
