html {
  overflow: hidden;
}

body {
  cursor: url(images/spray-can.png), crosshair;
}

#canvas {
  background-image: url("images/wall-bg.png");
}

#colors {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.color {
  width: 80px;
  filter: drop-shadow(0 0 0.6rem #000000);
}

.color:hover,
#save:hover,
#trash:hover,
.reticle-block:hover {
  cursor: pointer;
}

.page-height {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#trash {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 110px;
  filter: drop-shadow(0 0 0.3rem #000000);
}

#save {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 110px;
  filter: drop-shadow(0 0 0.3rem #000000);
}

#reticle-1 {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.2rem #7c7c7c);
}

#reticle-2 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.2rem #7c7c7c);
}

#reticle-3 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.3rem #7c7c7c);
}

#reticles {
  position: absolute;
  bottom: 0px;
  filter: drop-shadow(0 0 0.3rem #000000);
}

.reticle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reticle-block {
  background-image: url("images/block-blank.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  margin: 2rem 4rem;
}

.reticle-tube {
  background-image: url("images/mario-tube.png");
  background-size: contain;
  height: 110px;
  width: 117px;
}

.reticle-color {
  background-color: rgb(252, 34, 43);
}

.modal-mario {
  margin-left: 7rem;
  width: 270px;
  object-fit: contain;
}

.modal-cloud {
  position: relative;
  width: 600px;
}

.modal-text {
  position: absolute;
  top: 12%;
  font-family: "Ubuntu", sans-serif;
  width: 45%;
  font-size: 1.1rem;
}

.star-btn {
  width: 25%;
  position: absolute;
  right: 0px;
  top: 190px;
  border-style: none;
  cursor: pointer;
}

#instructions {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal:hover,
#reticles,
#instructions {
  cursor: default;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

#color-input {
  width: 100px;
  height: 100px;
}

.media-player {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 250px;
}

.logo {
  width: 13%;
  position: absolute;
  bottom: 140px;
  margin-left: 40px;
}

.graffiti-logo {
  position: absolute;
  bottom: 100px;
  width: 13%;
  margin-left: 40px;
}

@media screen and (max-width: 1024px) and (min-width: 760px) {
  .modal-cloud {
    width: 550px;
  }
  .modal-mario {
    width: 200px;
  }
  .modal-text {
    font-size: 0.9rem;
    width: 40%;
  }
  .media-player {
    width: 150px;
  }
  .reticle-block {
    margin: 1.5rem 3rem;
  }
}

@media screen and (max-width: 760px) {
  .modal-cloud {
    height: 200px;
    width: 300px;
  }
  .modal-mario {
    margin-left: 2rem;
    width: 100px;
  }
  .modal-text {
    font-size: 0.7rem;
  }
  .star-btn {
    top: 70px;
  }
  .media-player {
    width: 100px;
  }
  .modal-text-content {
    display: none;
  }
  .reticle-block {
    margin: 1rem 1.5rem;
  }
  #colors {
    right: 2%;
  }
  #custom {
    width: 70px;
  }
  .logo,
  .graffiti-logo {
    margin-left: 10px;
  }
  #red,
  #green,
  #purple,
  #yellow,
  .reticle-tube {
    display: none;
  }
  #save,
  #trash {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 379px) {
  #colors {
    top: 50%;
  }
  .reticle-block {
    margin: 0.5rem;
  }
  .logo,
  .graffiti-logo {
    display: none;
  }
  .star-btn {
    width: 40%;
    left: 140px;
  }
  ul {
    padding: 0;
  }
  .media-player {
    display: none;
  }
}
