body {
  cursor: crosshair;
}

#colors {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.color {
  width: 80px;
}

.color:hover,
#save:hover,
#trash:hover {
  cursor: pointer;
}

.page-height {
  height: 100vh;
  background-image: url('images/wall-bg.png');
  position: relative;
}

#trash {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 110px;
}

#save {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 110px;
}

.reticle-1 {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: black;
}

.reticle-2 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: black;
}

.reticle-3 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: black;
}

#reticles {
  position: absolute;
  bottom: 5%;
  background-color: white;
  border: 2px solid black;
}

.reticle-1:hover,
.reticle-2:hover,
.reticle-3:hover {
  cursor: pointer;
}
